.card {
    position: relative;
    display: flex;
    margin: 1.5vmin;
}

.card img {
    position: relative;
    transition: all 100ms ease-in-out;
    top: 0;
    width: 100%;
    height: 100%;
}

.card img:hover {
    filter: drop-shadow(0 4px 0 #76161644);
    cursor: pointer;
    top: -4px;
}